@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --text-primary: #777;
  --bg-primary: #333;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: var(--text-primary);
}

html,
body {
  overflow: hidden;
  background-color: #f4f5f7;
}

ul {
  list-style: none;
}

.container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 850px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 18px;
}

.btn {
  border: 1px solid #ccc;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: inherit;
  background-color: #fff;
  color: var(--text-primary);
  transition: all 0.3s ease;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  background-color: #eee;
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn:disabled:hover {
  background-color: inherit;
}

.page {
  padding: 16px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.gap-xs {
  gap: 5px;
}

.padding-sm {
  padding: 16px;
}

.justify-end {
  justify-content: end;
}

.form-input {
  width: 100%;
  padding: 8px;
  outline: none;
  order: 1px solid #ccc;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: inherit;
  background-color: #fff;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.form-input:disabled {
  opacity: 0.5;
  cursor:not-allowed;
}

textarea.form-input {
  resize: none;
}

.form-input:focus {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
